{% extends 'base.html.twig' %}

{% block title %}Nouvel article{% endblock %}

{% block body %}
    <div class="forms">
    <h1>Créer un nouvel article</h1>
    <div class="forms_include">
    {{ include('article/_form.html.twig') }}
    </div>
    <a href="{{ path('app_article_index') }}">back to list</a>
    </div>
{% endblock %}
